

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


    <div class="form-group">
      <%= f.text_field :first_name, class: 'form-control', placeholder: "Enter First Name (Required)", required: true %>
    </div>

    <div class="form-group">
      <%= f.text_field :middle_name, class: 'form-control', placeholder: "Enter Middle Name (Optional)" %>
    </div>

    <div class="form-group">
      <%= f.text_field :last_name, class: 'form-control', placeholder: "Enter Last Name (Required)", required: true %>
    </div>

    <div class="form-group">
      <%= f.text_field :username, class: 'form-control', placeholder: "Enter Username (Required)", required: true %>
    </div>

      <%= country_select("user", "country")%>

    <div class="form-group">
      <%= f.text_field :location, class: 'form-control',id: 'gmaps-input-address', placeholder: "Enter Location (Required)" %>
      <div id='gmaps-error'></div>
      <div id='gmaps-canvas'></div>
      <button onclick="getLocation()", class="btn btn-sm btn-primary">Get Your Current Location</button>

      <p id="demo"></p>
    </div>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Enter Email (Required)", required: true %>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.password_field :password, class: 'form-control', autocomplete: "off", placeholder: "Password (leave blank if you don't want to change it)" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off", placeholder: "Confirm Password" %>
  </div>

  <div class="form-group">
    <%= f.password_field :current_password, class: 'form-control', autocomplete: "off", placeholder: "Current Password (we need your current password to confirm your changes)" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: 'form-control btn btn-primary'  %>
  </div>
<% end %>


<p> <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
