<%= form_for("user", :url => user_session_path) do |f| %>

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
      <%= f.text_field :email , placeholder: "email or username", class: "form-control"%>
      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
      <%= f.password_field :password , placeholder: "password", class: "form-control" %>
    </div>
    <div class="input-group pull-right">
      <%= f.submit 'Sign in', class: "btn btn-sm btn-primary" %><%= link_to "Forgot your password?", new_password_path('user'), class: "btn btn-sm btn-warning" %>
    </div>


    <br><br>
<% end %>